Source: traktor
Maintainer: Danial Behzadi <dani.behzi@ubuntu.com>
Section: net
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>=9)

Package: traktor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=4), tor, obfs4proxy, polipo, dnscrypt-proxy, torbrowser-launcher, apt-transport-tor
Description: Automatic TOR installer
 Automaticically installs and config tor.
